.bikes_stock_container {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.filter_container {
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.filter_box {
    width: fit-content;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.stock_container {
    width: 90%;
    height: 1000px;
    border: solid green 2px;
   
}

.modal_container {
    height: 500px;
    width: 400px;
}









@media screen and (min-width: 730px) {
    .bikes_stock_container {
        width: calc(100vw - 60px);
    }
}
@media screen and (max-width: 800px) {
    .filter_box {
        display: none;
    }
    .filter_container {
        justify-content: flex-end;
    }
    .modal_container {
        height: 500px;
        width: 70vw;
    }
    
}