.previewlistbikes_container {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


@media screen and (max-width: 730px) {
    .previewlistbikes_container {
        flex-direction: column;
    }
}